{% if site.navigation %}
<nav class="nav__list">
  <ul>
    {% for nav_item in site.navigation %}
      <li class="nav__list-item {% if nav_item.children %}has-children{% endif %}">
        <a href="{{ nav_item.url | relative_url }}">{{ nav_item.title }}</a>
        {% if nav_item.children %}
          <ul class="nav__sub-list">
            {% for child in nav_item.children %}
              <li class="nav__sub-list-item">
                <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
